<!DOCTYPE>
<html ng-app="listaTelefonica">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Lista Telefonica</title>
      <link rel="stylesheet" href="css/bootstrap.css">

      <style>
            .jumbotron {
                  width: 600px;
                  text-align: center;
                  margin-top: 40px;
                  margin-left: auto;
                  margin-right: auto;
                  border-radius: 7px;
            }
            .table {
                  margin-top: 20px;
            }
            .form-control {
                  margin-bottom: 8px;
            }
            .titulo {
                  font-size: 1.7em;
                  font-weight: bold;
            }
            .selecionado {
                  background-color: #eeef0654
            }
            .negrito {
                  font-weight: bold;
                  font-size: 1em
            }

      </style>

</head>
<body ng-controller="listaTelefonicaCtrl">
      <div class="jumbotron">
            <!-- <h4 ng-bind="app"></h4> -->
            <h3 class="titulo">{{app}}</h3>
            <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que voce busca?">
            <table ng-show="contatos.length > 0" class="table table">
                  <tr>
                        <th></th>
                        <th><a href="" ng-click="ordenarPor('nome')"></a>Nome</th>
                        <th><a href="" ng-click="ordenarPor('telefone')"></a>Telefone</th>
                        <th>Operadora</th>
                        <th>Data</th>
                        <th></th>
                  </tr>
                  <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:{nome: criterioDeBusca | oderBy:criterioDeOrdenacao:direcaoDaOrdenacao}">
                        <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                        <td>{{contato.nome | uppercase}}</td>
                        <td>{{contato.telefone}}</td>
                        <td>{{contato.operadora.nome}}</td>
                        <td>{{ contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
                  </tr>
            </table>
            <!-- {{contatos}} -->
            <hr>
            <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>
            <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" ng-required="true" ng-parttern="/^\d{4,5}-\d{4}$/"/>
            <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
                  <option value="">Selecione uma operadora</option>
            </select>
            <button class="btn btn-dark btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
            <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar Contatos</button>
      </div>
      <div ng-include="'footer.html'"></div>

      <script src="node_modules/angular/angular.js"></script>
      <script>

      angular.module("listaTelefonica", []);
      angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
            $scope.app = "Lista Telefonica";
            $scope.contatos = [
                  {nome: "Pedro", telefone: "999999999", data: new Date(), cor: "blue"},
                  {nome: "Ana", telefone: "888888888", data: new Date(), cor: "yellow"},
                  {nome: "Maria", telefone: "777777777", data: new Date(), cor: "red"}
            ];
            $scope.operadoras = [
                  { nome: 'Oi', codigo: 14, categoria: 'Celular' },
                  { nome: 'Tim', codigo: 41, categoria: 'Celular' },
                  { nome: 'Claro', codigo: 21, categoria: 'Celular' },
                  { nome: 'Vivo', codigo: 15, categoria: 'Celular' },
                  { nome: 'Embratel', codigo: 22, categoria: 'Fixo' },
                  { nome: 'GVT', codigo: 25, categoria: 'Fixo' }
            ];
            $scope.adicionarContato = function (contato) {
                  $scope.contatos.push(angular.copy(contato));
                  delete $scope.contato;
                  $scope.contatoForm.$setPristine();
            };
            $scope.apagarContatos = function(contatos) {
                  $scope.contatos = contatos.filter(function (contato) {
                        if (!contato.selecionado) return contato;
                  });
            };
            $scope.isContatoSelecionado = function(contatos) {
                  return contatos.some(function (contato) {
                        return contato.selecionado;
                  })
            }
            $scope.odernarPor = function (campo) {
                  $scope.criterioDeOrdenação = campo;
                  $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
            }
      });

      </script>

</body>
</html>
